
<h2>Mi perfil</h2>
<ul>
  <li><strong>Nombre:</strong> {{user.first_name}}</li>
  <li><strong>Apellido:</strong> {{user.last_name}}</li>
  <li><strong>Email:</strong> {{user.email}}</li>
  <li><strong>Edad:</strong> {{user.age}}</li>
  <li><strong>Rol:</strong> {{user.role}}</li>
</ul>


